@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


nav {
    padding: 5em;
}

p , li{
    font-family: "Trirong", serif;
}

#index-sec {
    height: 100vh;
    background-image: url(./images/SpaceNeedle-Mt.Rainier.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#bio-section {
    padding: 2%;
    display: flex;
}

#bio-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1px 1px 1px 2px;
    
}



  .experience {
      font-size: 2em;
      margin-left: 3%;
      margin-right: 3%;
      padding-top: 3%;
      color: lightcyan;
      border-bottom: 2px solid lightcyan;


  }

  .title {
      color: darkblue;
  }

  .experience-list {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: space-between;

  }

 

  #exp-sec {
   
    background-image: url(./images/tnc_97405372_preview_cropped.jpg); 
    background-size: cover;
    background-attachment: fixed;
  
  }


  @media only screen and (max-width: 1200px) {
    #about-me {
        margin-top: 0% !important; 
        text-align: center !important;
    }

    #bio-section {
      flex-direction: column;
      align-items: center;
    }
  }

  


