@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



nav {
    padding: 5em;
}

p , li{
    font-family: "Trirong", serif;
}

#index-sec {
    height: 100vh;
    background-image: url(./images/SpaceNeedle-Mt.Rainier.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#bio-section {
    padding: 2%;
    display: flex;
}

#bio-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1px 1px 1px 2px;
    
}



  .experience {
      font-size: 2em;
      margin-left: 3%;
      margin-right: 3%;
      padding-top: 3%;
      color: lightcyan;
      border-bottom: 2px solid lightcyan;


  }

  .title {
      color: darkblue;
  }

  .experience-list {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: space-between;

  }

 

  #exp-sec {
   
    background-image: url(./images/tnc_97405372_preview_cropped.jpg); 
    background-size: cover;
    background-attachment: fixed;
  
  }

  #portfolio-sect {
      background-image: url(./images/GettyImages-5970080731-59b7f67f03f40200100c2353.jpg);
      background-size: cover;

  }

  #outer{
    padding: 1%;
    display: flex;
  }


  .portfolio {
      margin: 0.2%;
    width: 33.333%;
    
  }

  .portfolio img {
      display: block;
      width: 100%;
      height: auto;
  }

  .portfolio-des {
    background-color: white;
    opacity: 0.8;
  }



  @media only screen and (max-width: 1200px) {
    #about-me {
        margin-top: 0% !important; 
        text-align: center !important;
    }

    #bio-section {
      flex-direction: column;
      align-items: center;
    }

    #outer{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .portfolio {
        margin: 0.2%;
      width: 100%;
    }

    #portfolio-sect {
        background-attachment: fixed;
  
    }



  }

  


